* {
	box-sizing: inherit;
	margin: 0;
	padding: 0; 
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	background-color: #f2f2f2;
}

::selection{
	background: #DC143C;
	color:white;
}

h1 {
	font-family: 'Roboto Black', sans-serif, '900';
	font-size: 70px;
}

b {
	font-family: 'Roboto Black', sans-serif, '900';
	font-size: 45px;
}

.inputs {
	font-size: 45px;
}

.botones {
	font-size: 29px;
}

/*Tabla */

table {
	width: 66.66666%;
	margin: 20px;
	font-family: 'Roboto Black', sans-serif, '900';
	font-size: 25px;
	float: left;
	border-collapse: separate;
	border-spacing: 10px;
}

td {
	background-color: black;
	border-radius: 10px;
	text-align: center;
	box-shadow: 2px 2px 2px grey; /* (-)izquierda-derecha(+), (-)arriba-abajo(+), radio (mayor es borroso, 0 es solido*/
	justify-content: center;
	width: 11.11111%;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

td > img {
	width: 30px;
}

td:hover:not(.td-header){
	-webkit-transition:all .3s ease; 
	transform: translate(-5px, -5px);
	/*background-color: #f25c05;*/
	background-color: #DC143C;
	color: white;
}

.esquina{
    color: white;
	font-size: 12pt;
	background: 
         linear-gradient(to top right,
             rgba(0,0,0,0) 0%,
             rgba(0,0,0,0) calc(50% - 0.8px),
             rgba(255,255,255,1) 50%,
             rgba(0,0,0,0) calc(50% + 0.8px),
			 rgba(0,0,0,0) 100%);
	background-color: black;
}

.esquina div{
	
}

.esquina p{
	float: right;
	margin-right: 5px;
}

.esquina p + p{
	margin-top: 20px;
	margin-left: 5px;
	float: left;
}


.td-selected {
	background-color: #DC143C;
}

#hexagrama-descripcion-tabla {
	visibility: hidden;
}

#descripcion-hover {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Descripción resultado */

.hexagrama-descripcion {
    color: white;
	border-radius: 15px;
	background-image: url(../img/fondo_cards.jpg);
	padding: 30px;
	width: 24.99999%;
	display: inline-block;
	margin: 20px;
	vertical-align: center;
	box-shadow: 3px 3px 20px grey;
	text-align: center;
	transition:visibility 0.3s linear,opacity 0.3s linear;
	opacity: 1;
}

.hexagrama-descripcion:hover {
	-webkit-transition:all .5s ease; 
	transform: translate(-5px, -5px);
}

#hexagrama-descripcion-resultado-1 {
	display: none;
}

#hexagrama-descripcion-resultado-2 {
	display: none;
}

/* Contenedor */

.contenedor-descripcion {
	display: flex;
    justify-content: center; 
}

/* Footer */

footer {
	border-top: #000 solid 1px;
     font-family: Poppins;
     padding-top: 0px;
}

.copyright {
     margin-top: 43px;
     padding: 20px 0px;
     background-image: url(../img/fondo_banner.jpg);
}

.copyright p {
     color: #fff;
     font-size: 18px;
     line-height: 22px;
     text-align: center;
}

.copyright a {
     color: #fff;
}

.copyright a:hover {
     color: #DC143C;
}

.footerTitulo {
	font-family: 'Roboto Black', sans-serif, '900';
	font-size: 45px;
}

footer > b {
	font-weight: bold;
}

footer > div {
	display: inline-block;
	font-size: 30px;
	text-align: center;
	padding: 20px;
}

footer > div > img {
	height: auto;
}